build/
dist/
*.egg-info/
**/__pycache__/
*-checkpoint.ipynb
**/.ipynb_checkpoints
**/.ipynb_checkpoints/**
.*
!.gitignore

# Docusaurus site
website/yarn.lock
website/build/
website/i18n/
website/node_modules/*
website/npm-debug.log
## Generated for tutorials
website/_tutorials/
website/static/files/
website/pages/tutorials/*
!website/pages/tutorials/index.js

# For my project
.github/*
.circleci/*
.flake8
.clang-format
*.png
*.jpg
**/ShapeNetsamples/*
*.pdf
*.gif
# Build libs
pytorch3d/_C*
